<div class="mycontainer">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="text-center">
          <h3><i class="fa fa-unlock fa-4x"></i></h3>
          <h2 class="text-center">Change Password</h2>
          <p>Both passwords should match</p>
          <div class="panel-body">

            <form id="register-form" [formGroup]="changepswdForm">

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-text"><i class="fa fa-lock"></i></span>
                  <input type="password" name="phone" class="form-control" formControlName="val_pass" placeholder="Set a new Password" #password>
                 </div>
              </div>
              
             <div class="form-group">
               <div class="input-group">
                 <span class="input-group-text"><i class="fa fa-lock"></i></span>
                 <input type="password" name="otp" class="form-control" formControlName="val_confirmpass" placeholder="Confirm Password" #confirmpassword>
               </div>
             </div>

             <button class="btn btn-success btn-block" [disabled]="changepswdForm.errors?.invalid" (click)="sendPassword(confirmpassword.value)">Change Password</button>
            <br>
             <div *ngIf="!changepswdForm.get('val_pass')?.valid && (changepswdForm.get('val_pass')?.dirty || changepswdForm.get('val_pass')?.touched)" class="error">
               <div *ngIf="changepswdForm.get('val_pass').errors.required">
                <p class="danger-err">Password cannot be blank!</p> 
               </div>
               <div *ngIf="changepswdForm.get('val_pass').errors.minlength" >
                 <p class="danger-err">Password needs to be 8 digit</p> 
                </div>
             </div>
             <div *ngIf="!changepswdForm.get('val_confirmpass')?.valid && (changepswdForm.get('val_confirmpass')?.dirty || changepswdForm.get('val_confirmpass')?.touched)" class="error">
               <div *ngIf="changepswdForm.get('val_confirmpass').errors.required">
                <p class="danger-err">Confirm Password cannot be blank!</p> 
               </div>
               <div *ngIf="changepswdForm.get('val_confirmpass').errors.minlength" >
                 <p class="danger-err">Confirm Password needs to be 8 digit</p> 
                </div>   
             </div>
             <p class="danger-err" *ngIf="changepswdForm.errors?.invalid">Passwords don't match!</p>
             <p class="success-err" *ngIf="changepswdForm?.valid"><i class="fa fa-check"></i>&nbsp;&nbsp;Both Passwords Match!</p>
            </form>

          </div>
        </div>
      </div>
    </div>
</div>

